@import 'partials/navbar';

//custom
$primary: #e92569;
$light: #efefef;

//bootstrap scss

// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  //   'secondary': $secondary,
  //   'success': $success,
  //   'info': $info,
  //   'warning': $warning,
  //   'danger': $danger,
  'light': $light,
  //   'dark': $dark,
);

$font-family-base: 'Lato', sans-serif;
$headings-color: $primary;

$body-bg: #efefef;
$navbar-light-brand-color: $primary;

@import '~bootstrap/scss/bootstrap';
