//Custom

$primary: #e92569;
$light: #efefef;
$dark: #0a0a0a;
$dark-grey: #767676;

// $body-bg: #c7c7c7;
$font-family-base: 'Lato', arial;
$headings-font-family: 'Playfair Display', sans-serif;
$headings-color: $primary;
// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  //   'secondary': $secondary,
  //   'success': $success,
  //   'info': $info,
  //   'warning': $warning,
  //   'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$border-radius: 5px;
// $grid-gutter-width: 0;

$navbar-light-color: $dark;
$navbar-brand-margin-end: 5rem;
$nav-tabs-border-width: 0;
$btn-color: $primary;
$form-check-input-bg: $primary;
$input-bg: #ffffff;

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
