//Custom

$primary: #e92569;
$light: #efefef;
$dark: #0a0a0a;
$dark-grey: #767676;

$body-bg: $light;

// scss-docs-start theme-colors-map
$theme-colors: (
  'primary': $primary,
  //   'secondary': $secondary,
  //   'success': $success,
  //   'info': $info,
  //   'warning': $warning,
  //   'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$border-radius: 5px;

$navbar-light-color: $dark;
$navbar-brand-margin-end: 5rem;
// $nav-link-padding-y: 1px;
// $nav-link-padding-x: 1px;
$nav-tabs-border-width: 0;
$btn-color: $primary;
