.icon-container {
  display: flex;

  p {
    color: $dark;
  }
}

.icon-container-icons {
}
.icon-container-twitter {
  padding-left: 2rem;
}
.icon-container-facebook {
  padding-left: 2rem;
}

.icon {
}
.icon-twitter {
}
.icon-facebook {
}
