.icon-container {
  display: flex;

  p {
    color: $dark;
  }
}
.icon-container-footer {
  display: flex;
}

.icon-container-twitter {
  padding-left: 2rem;
}
.icon-container-facebook {
  padding-left: 2rem;
}
.icon-container-vimeo {
  padding-left: 2rem;
}
.icon-container-youtube {
  padding-left: 2rem;
}
.icon-vimeo {
  color: $dark-grey;
}
.icon-youtube {
  color: $dark-grey;
}
