.wide-container {
  width: 100%;
  height: auto;

  // background-image: url(../../../public/images/carousel/carousel-2.jpg);
}
.jumbo-image {
  width: 100%;
  height: auto;
}
.home-container {
  margin-top: 3rem;
}
.tab-col {
  background-color: #ffffff;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
