.navbar {
  background-color: #e9ecef;
}
.nav-container {
  padding: 0;
}
.nav-link {
  padding: 2px;
  font-size: 20px !important;
  .active {
    background-color: $light;
    border-radius: $border-radius;
  }
}

.nav-link .nav-tabs {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 5px;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #c7c7c7;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #c7c7c7;
  border-bottom: var(--bs-nav-tabs-border-width) solid
    var(--bs-nav-tabs-border-color);
}
.btn-nav {
  background-color: $primary !important;
  border-radius: 0 5px 5px 0 !important;

  color: $light !important;
  font-weight: bold !important;
}
.form-control {
  border-radius: 5px 0 0 5px !important;
}
