.tab-content {
  background-color: white;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: white !important;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.tab-img {
  margin: 3rem;
}
// .tab {
//   background-color: #efefef;
// }

// .nav-tab {
//   background-color: #efefef;
// }

.tabs-container {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
.tab-row {
  border-radius: 5px;
  padding: 5px;
}
.tab-inner-container {
  border-radius: 0 5px 5px 5px;
}
.tab-col {
}
